.footer {
    position: static;
    width: 100%;
    padding: 1rem 0;
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: auto;
      width: 100%;
    }
  
    li {
      padding: 1rem;
  
      a {
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }